registry=https://pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/registry/ 
                        
always-auth=true
; begin auth token
//pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/registry/:username=mrtanilgrn
//pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/registry/:_password=[dXU3d3lydWlsdmFxaWUzenVid2xkeXpndHhqdXdjejZoaWxnNjJwemtkYW1jNmFpaHRsYQ==]
//pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/:username=mrtanilgrn
//pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/:_password=[dXU3d3lydWlsdmFxaWUzenVid2xkeXpndHhqdXdjejZoaWxnNjJwemtkYW1jNmFpaHRsYQ==]
//pkgs.dev.azure.com/mrtanilgrn/_packaging/mrtanilgrn/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
